<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>card</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.CardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flashcard</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.FlashcardUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oauth</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.OAuth2Callback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newStack</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.NewStack</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>myStacks</servlet-name>
		<jsp-file>/myStackcards.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>deleteStack</servlet-name>
		<jsp-file>/deleteStackcard.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>renameStack</servlet-name>
		<jsp-file>/renameStackcard.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>createStack</servlet-name>
		<jsp-file>/createStackcard.jsp</jsp-file>
	</servlet>
    <servlet-mapping>
        <servlet-name>myStacks</servlet-name>
        <url-pattern>/mystacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStack</servlet-name>
        <url-pattern>/deletestack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renameStack</servlet-name>
        <url-pattern>/renamestack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createStack</servlet-name>
        <url-pattern>/createstack</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>train</servlet-name>
        <jsp-file>/jsp/train.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>card</servlet-name>
        <url-pattern>/card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flashcard</servlet-name>
        <url-pattern>/flashcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oauth</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newStack</servlet-name>
        <url-pattern>/newStack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>train</servlet-name>
        <url-pattern>/train</url-pattern>
    </servlet-mapping>
</web-app>
