<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oauth</servlet-name>
        <servlet-class>ca.utoronto.ece1779h.servlet.OAuth2Callback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oauth</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
</web-app>
